# **In-Class Assignment Part 1**

## Task 1

## **Title**: In-Class Project-*Part 1*  **Author**: Tanaysia

## **Project Description**: 
This project focuses on building a system for student performance analytics. It focuses on building a system that monitors student performance so that the school can improve its curriculum.

I used Anaconda Navigator to open my notebook. I opened Anaconda Navigator and clicked launch under Jupyter Notebook.

#### Title: In-Class Project: Part 1  Author: Tanaysia Fields

## **Table of Contents**
#### **Task 1:** Jupyter Notebook Setup ad Documentation
#### **Task 2:** Data Types and Variables
#### **Task 3:** Python Operators and Calculations
#### **Task 4:** Printing Techniques
#### **Task 5:** Data Structures

### Task 1.1C

In [120]:
# Who:
# What:
# When:
# Where:
# Why:

## **The 5 W's**

#### 1. **Who:** The stakeholders are administrative workers at the school
#### 2. **What:** I will analyze GPA, grades, and performance
#### 3. **When:** This data was collected in the Spring of 2026 and will be needed before curriculum planning
#### 4. **Where:** The data comes from Bright Future Academy and will be used by them
#### 5. **Why:** This analysis is important because it allows the school to better tend to their students

##### This was originally a code cell, but I changed it to a markdown cell, and I also combine each "W" into one cell, and then split this cell the 5 W's and the subheader of this to be in 3 cells

### Task 1.2c, 1.2d, and 1.2e

In [121]:
# horizontal rule

In [122]:
# table

## **Expected Outcomes**
### • Calculate grades
### • Identify performance trends 
### • Organize student data
### • Improve academic decisions

| Grade|Min Score|Max Score|
|-|-|-|
|A|90|100|
|-|-|-|
|B|80|89|
|-|-|-|
|C|70|79|
|-|-|-|
|D|60|69|
|-|-|-|
|F|0|59|

## Task 2

##### Task 2.1

In [123]:
sara_data = { 
    "Student ID" : 12004037,
'Student Name':'Sarah White',
'GPA':4.0,
'Is_the_student_enrolled':True,
'Students_major':"Psychology",
'Credits_completed':16,
'Tuition_balance':12000.00,
'Is_on_honor_roll': True
}

#### Verify Types

In [124]:
print(type(sara_data["Student ID"]))
print(type(sara_data["Student Name"]))
print(type(sara_data["GPA"]))
print(type(sara_data["Is_the_student_enrolled"]))
print(type(sara_data["Students_major"]))
print(type(sara_data["Credits_completed"]))
print(type(sara_data["Tuition_balance"]))
print(type(sara_data["Is_on_honor_roll"]))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

#### Type reasoning

- Student ID (int): Chosen as an integer because it is a unique numeric identifier with no decimal values  
- Student Name (str): Chosen as a string because it stores text data.  
- GPA (float): Chosen as a float because GPA includes decimal values.  
- Is_the_student_enrolled (bool): Chosen as a boolean because it represents a True/False condition.  
- Students_major (str): Chosen as a string because it stores the name of a major (text).  
- Credits_completed (int): Chosen as an integer because credits are counted as whole numbers.  
- Tuition_balance (float): Chosen as a float because monetary values can include decimals.  
- Is_on_honor_roll (bool): Chosen as a boolean because it represents a True/False status.

## Task 2.2

In [125]:
score_string = "85"
score_int = int(score_string)
score_float = float(score_string)
print(score_int, type(score_int))
print(score_float, type(score_float))

gpa_float = 3.75
gpa_int = int(gpa_float)
gpa_string = str(gpa_float)
print(gpa_int, type(gpa_int))
print(gpa_string, type(gpa_string))

85 <class 'int'>
85.0 <class 'float'>
3 <class 'int'>
3.75 <class 'str'>

##### When converting to integer, all the decimals are dropped and we only take the first number and don't round

#### Booleean conversion

In [126]:
num_zero = 0
num_one = 1
empty_string = ""
hello_string = "Hello"

print(bool(num_zero), type(bool(num_zero)))
print(bool(num_one), type(bool(num_one)))
print(bool(empty_string), type(bool(empty_string)))
print(bool(hello_string), type(bool(hello_string)))

False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

##### 0's and empty values convert to False, while 1 and non-empty values convert to True.

## Task 3

#### Task 3.1

##### Weighted average

In [127]:
weighted_average = (88 * 0.20) + (76 * 0.25) + (92 * 0.35) + (86 * 0.20)
print("Weighted Average: ", weighted_average)

Weighted Average:  86.0

##### Group calculation

In [128]:
students = 150
group_size = 12

complete_groups = students // group_size
leftover_students = students % group_size

print("Complete groups: ", complete_groups)
print("Students left over: ", leftover_students)

Complete groups:  12
Students left over:  6

##### Scholarship

In [129]:
gpa = 3.5
extra_curricular = 45

score = (gpa ** 2) + (extra_curricular / 10)
print("Scholarship Score: ", score)

Scholarship Score:  16.75

### Task 3.2

In [130]:
# Regular division vs Floor division
print("Regular division:", 17 / 5)     # returns decimal
print("Floor division:", 17 // 5)      # returns whole number only

Regular division: 3.4
Floor division: 3

In [131]:
# Exponent comparison
print("2 ** 3 ** 2 =", 2 ** 3 ** 2)
print("(2 ** 3) ** 2 =", (2 ** 3) ** 2)

2 ** 3 ** 2 = 512
(2 ** 3) ** 2 = 64

##### Exponents are evaluated right to left, so 2 ** 3 ** 2 means 2 ** (3 ** 2)

In [132]:
# Given values
total_points = 847
num_assignments = 10

average = total_points / num_assignments
whole_number_part = total_points // num_assignments
remainder = total_points % num_assignments

print("Average: ", average)
print("Whole number part: ", whole_number_part)
print("Remainder: ", remainder)

Average:  84.7
Whole number part:  84
Remainder:  7

### Task 4

#### Task 4.1

String concatenation

Comma-separated printing

In [133]:
print("Student Name: " + sara_data["Student Name"] +
      ", ID: " + str(sara_data["Student ID"]) +
      ", GPA: " + str(sara_data["GPA"]))

Student Name: Sarah White, ID: 12004037, GPA: 4.0

In [134]:
print("Student Name:", sara_data["Student Name"],
      "ID:", sara_data["Student ID"],
      "GPA:", sara_data["GPA"])

Student Name: Sarah White ID: 12004037 GPA: 4.0

f-strings

In [135]:
print(f"Student {sara_data['Student Name']} (ID: {sara_data['Student ID']}) has a GPA of {sara_data['GPA']}")

Student Sarah White (ID: 12004037) has a GPA of 4.0

.format() method

In [136]:
print("Student {} (ID: {}) has a GPA of {}".format(
    sara_data["Student Name"],
    sara_data["Student ID"],
    sara_data["GPA"]
))

Student Sarah White (ID: 12004037) has a GPA of 4.0

#### Task 4.2

In [137]:
# Reuse values from Task 3
homework = 88
midterm = 76
final_exam = 92
project = 85


# c) Using sep and end

# Print three course names separated by |
print("Math", "English", "Psychology", sep=" | ")

# Print a statement without ending with a newline
print("This statement does not end with a newline.", end="")
print(" See? It continues on the same line.")

Math | English | Psychology
This statement does not end with a newline. See? It continues on the same line.

Weighted average formatted to 2 decimal places

In [138]:
print(f"Weighted Average: {weighted_average:.2f}")

Weighted Average: 86.00

Formatted grade report (single print with \n)

In [139]:
print(f"Grade Report\n"
      f"Student: {sara_data['Student Name']}\n"
      f"Homework: {homework}\n"
      f"Midterm: {midterm}\n"
      f"Final Exam: {final_exam}\n"
      f"Project: {project}\n"
      f"Weighted Average: {weighted_average:.2f}")

Grade Report
Student: Sarah White
Homework: 88
Midterm: 76
Final Exam: 92
Project: 85
Weighted Average: 86.00

Using sep and end

In [140]:
# Print a statement with seperating line
print("Math", "English", "Psychology", sep=" | ")

# Print a statement without ending with a newline
print("This statement does not end with a newline.", end="")
print(" It continues on the same line.")

Math | English | Psychology
This statement does not end with a newline. It continues on the same line.

## Task 5

#### Task 5.1

In [141]:
student_scores = [78, 92, 65, 88, 95, 72, 84, 90, 67, 83]

Slicing

In [142]:
print("First score:", student_scores[0])
print("Last score:", student_scores[-1])
print("Index 2 to 5:", student_scores[2:6])
print("Every other score:", student_scores[::2])

First score: 78
Last score: 83
Index 2 to 5: [65, 88, 95, 72]
Every other score: [78, 65, 95, 84, 67]

List modifications

In [143]:
# Add 91 to the end
student_scores.append(91)

# Insert 77 at index 3
student_scores.insert(3, 77)

# Remove score 65
student_scores.remove(65)

# Print final list
print("Final list:", student_scores)

Final list: [78, 92, 77, 88, 95, 72, 84, 90, 67, 83, 91]

Create course list and nested list

In [144]:
courses = ["Math", "English", "Psychology", "Biology", "History"]

class_roster = [
    ["Math", ["Alice", "Bob", "Charlie"]],
    ["English", ["David", "Emma", "Frank"]],
    ["Psychology", ["Grace", "Henry", "Isabella"]],
    ["Biology", ["Jack", "Karen", "Leo"]],
    ["History", ["Mia", "Noah", "Olivia"]]
]
print("Courses: ", courses)
print("Class Roster: ", class_roster)

Courses:  ['Math', 'English', 'Psychology', 'Biology', 'History']
Class Roster:  [['Math', ['Alice', 'Bob', 'Charlie']], ['English', ['David', 'Emma', 'Frank']], ['Psychology', ['Grace', 'Henry', 'Isabella']], ['Biology', ['Jack', 'Karen', 'Leo']], ['History', ['Mia', 'Noah', 'Olivia']]]

### Task 5.2

In [145]:
# Create the dictionary

#reuse data from above, but add courses and grades
student_record = sara_data
sara_data['courses'] = ["Math", "English", "Psychology"]
sara_data['grades'] = {
        "Math": 88,
        "English": 92,
        "Psychology": 95
    }

Dictionary operations

In [146]:
# Access the student’s name
print("Name:", student_record["Student Name"])

# Access the list of courses
print("Courses:", student_record["courses"])

# Access a specific grade from nested dictionary
print("Psychology Grade:", student_record["grades"]["Psychology"])

# Get all keys
print("Keys:", student_record.keys())

# Get all values
print("Values:", student_record.values())

Name: Sarah White
Courses: ['Math', 'English', 'Psychology']
Psychology Grade: 95
Keys: dict_keys(['Student ID', 'Student Name', 'GPA', 'Is_the_student_enrolled', 'Students_major', 'Credits_completed', 'Tuition_balance', 'Is_on_honor_roll', 'courses', 'grades'])
Values: dict_values([12004037, 'Sarah White', 4.0, True, 'Psychology', 16, 12000.0, True, ['Math', 'English', 'Psychology'], {'Math': 88, 'English': 92, 'Psychology': 95}])

Modify the dictionary

In [147]:
# Add new key-value pair
student_record["advisor"] = "Dr. Smith"

# Update GPA
student_record["gpa"] = 3.9

# Add new course to courses list
student_record["courses"].append("Biology")

# Add new grade to grades dictionary
student_record["grades"]["Biology"] = 89

print("Updated Record:", student_record)

Updated Record: {'Student ID': 12004037, 'Student Name': 'Sarah White', 'GPA': 4.0, 'Is_the_student_enrolled': True, 'Students_major': 'Psychology', 'Credits_completed': 16, 'Tuition_balance': 12000.0, 'Is_on_honor_roll': True, 'courses': ['Math', 'English', 'Psychology', 'Biology'], 'grades': {'Math': 88, 'English': 92, 'Psychology': 95, 'Biology': 89}, 'advisor': 'Dr. Smith', 'gpa': 3.9}

Use get() safely

In [148]:
print("Scholarship:", student_record.get("scholarship", "Not Available"))

Scholarship: Not Available

### Task 5.3

In [149]:
# Create tuple
grade_scale = ('A', 'B', 'C', 'D', 'F')
print("Grade Scale:", grade_scale)


# b) Demonstrate immutability
# grade_scale[0] = 'A+'   # This would cause a TypeError because tuples cannot be changed.
# Tuples are immutable, so their elements cannot be modified after creation.

Grade Scale: ('A', 'B', 'C', 'D', 'F')

Create student_info tuple and unpack

In [150]:
student_info = (12004037, "Sarah White", 3.8)

student_id, name, gpa = student_info

print("ID:", student_id)
print("Name:", name)
print("GPA:", gpa)

ID: 12004037
Name: Sarah White
GPA: 3.8

You would use a tuple instead of a list when the data should not change.  
Example: Storing fixed coordinates like (latitude, longitude) in a data science project.